<!DOCTYPE html>
<html>
<head>
	<title>Погода</title>
	<meta charset="utf-8">
</head>
<link rel="stylesheet" type="text/css" href="css/main.css">
<body>

<span class="clock"></span>
<div class="my-bar">
  <span class="bar">
    <span class="myprogress"></span>
  </span>
</div>
<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
	
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<aside class="andijan">
				<div class="shapeuz">
					<center><img src="img/logo.png"></center>
				</div>
				<div class="shape">
					<p class="country"><span class="glyphicon glyphicon-map-marker"></span>Андижан</p>
					<p class="country date"><span class="glyphicon glyphicon-calendar"></span>{{ andijan[0][0]['date'] }}, {{ andijan[0][0]['day'] }}</p>
				</div>
				<div class="forecast">
					<div class="col-lg-4 bordered">
						<div class="row">
							<div class="col-lg-12">
								<div class="data" style="margin-bottom: 20px;">
									<span>Сегодня</span>
								</div>
							</div>
							<br>
							<div class="col-lg-5">
								<div class="currentInfo">
									<p>Вечером: +{{ andijan[0][0]['low'] }}</p>
									<p>Влажность: {{ andijan[1]['humidity'] }}%</p>
									<p class="sun">
										<img src="img/icon/sunrise.png">{{ andijan[2]['sunrise'] }}<br>
										<img src="img/icon/sunset.png">{{ andijan[2]['sunset'] }}
									</p>
								</div>
							</div>
							<div class="col-lg-3">
								<span class="currentTemp">
									+{{ andijan[0][0]['high'] }}
								</span>
							</div>
							<div class="col-lg-3">
								<div class="icon noicon">
									<img id="weathericon" src="img/icon/cloud-snow.png">
								</div>
							</div>
						</div>
					</div>	
					{% for item in andijan[0][1:5] %}
					<div class="col-lg-2 bordered">
						<div class="data">
							<span>
								{{ item['date'] }}, {{ item['day'] }}
							</span>
						</div>
						<div class="icon"> 
							<img id="weathericon" src="img/icon/suncloud.png">
						</div>
						<div class="temp">
							<span class="hightemp">
								<span class="glyphicon glyphicon-arrow-up"></span> +{{ item['high']}}
							</span>
							<span class="lowtemp">
								<span class="glyphicon glyphicon-arrow-down"></span> +{{ item['low'] }}
							</span>
						</div>
					</div>
					{% endfor %}
				</div>
			</aside>
		</div>

		{# bukhara #}
		<div class="item">
			<aside class="bukhara">
				<div class="shapeuz">
					<center><img src="img/telecomtv.png"></center>
				</div>
				<div class="shape">
					<p class="country"><span class="glyphicon glyphicon-map-marker"></span>Бухара</p>
					<p class="country date"><span class="glyphicon glyphicon-calendar"></span>{{ bukhara[0][0]['date'] }}, {{ bukhara[0][0]['day'] }}</p>
				</div>
				<div class="forecast">
					<div class="col-lg-4 bordered">
						<div class="row">
							<div class="col-lg-12">
								<div class="data" style="margin-bottom: 20px;">
									<span>Сегодня</span>
								</div>
							</div>
							<br>
							<div class="col-lg-5">
								<div class="currentInfo">
									<p>Вечером: +{{ bukhara[0][0]['low'] }}</p>
									<p>Влажность: {{ bukhara[1]['humidity'] }}%</p>
									<p class="sun">
										<img src="img/icon/sunrise.png">{{ bukhara[2]['sunrise'] }}<br>
										<img src="img/icon/sunset.png">{{ bukhara[2]['sunset'] }}
									</p>
								</div>
							</div>
							<div class="col-lg-3">
								<span class="currentTemp">
									+{{ bukhara[0][0]['high']}}
								</span>
							</div>
							<div class="col-lg-3">
								<div class="icon noicon">
									<img id="weathericon" src="img/icon/cloud-snow.png">
								</div>
							</div>
						</div>
					</div>	
					{% for item in bukhara[0][1:5] %}
					<div class="col-lg-2 bordered">
						<div class="data">
							<span>
								{{ item['date'] }}, {{ item['day'] }}
							</span>
						</div>
						<div class="icon"> 
							<img id="weathericon" src="img/icon/suncloud.png">
						</div>
						<div class="temp">
							<span class="hightemp">
								<span class="glyphicon glyphicon-arrow-up"></span> +{{ item['high']}}
							</span>
							<span class="lowtemp">
								<span class="glyphicon glyphicon-arrow-down"></span> +{{ item['low']}}
							</span>
						</div>
					</div>
					{% endfor %}
				</div>
			</aside>
		</div>
		<div class="item">
			<aside class="djizakh">
				<div class="shapeuz">
					<center><img src="img/telecomtv.png"></center>
				</div>
				<div class="shape">
					<p class="country"><span class="glyphicon glyphicon-map-marker"></span>Джизак</p>
					<p class="country date"><span class="glyphicon glyphicon-calendar"></span>{{ djizakh[0][0]['date']}}, {{ djizakh[0][0]['day']}}</p>
				</div>
				<div class="forecast">
					<div class="col-lg-4 bordered">
						<div class="row">
							<div class="col-lg-12">
								<div class="data" style="margin-bottom: 20px;">
									<span>Сегодня</span>
								</div>
							</div>
							<br>
							<div class="col-lg-5">
								<div class="currentInfo">
									<p>Вечером: +{{ djizakh[0][0]['low']}}</p>
									<p>Влажность: {{ djizakh[1]['humidity']}}%</p>
									<p class="sun">
										<img src="img/icon/sunrise.png">{{ djizakh[2]['sunrise'] }}<br>
										<img src="img/icon/sunset.png">{{ djizakh[2]['sunset'] }}
									</p>
								</div>
							</div>
							<div class="col-lg-3">
								<span class="currentTemp">
									+{{ djizakh[0][0]['high']}}
								</span>
							</div>
							<div class="col-lg-3">
								<div class="icon noicon">
									<img id="weathericon" src="img/icon/cloud-snow.png">
								</div>
							</div>
						</div>
					</div>	
					{% for item in djizakh[0][1:5] %}
					<div class="col-lg-2 bordered">
						<div class="data">
							<span>
								{{ item['date'] }}, {{ item['day'] }}
							</span>
						</div>
						<div class="icon"> 
							<img id="weathericon" src="img/icon/suncloud.png">
						</div>
						<div class="temp">
							<span class="hightemp">
								<span class="glyphicon glyphicon-arrow-up"></span> +{{ item['high']}}
							</span>
							<span class="lowtemp">
								<span class="glyphicon glyphicon-arrow-down"></span> +{{ item['low']}}
							</span>
						</div>
					</div>
					{% endfor %}
				</div>
			</aside>
		</div>
		<div class="item">
			<aside class="karakalpakistan">
				<div class="shapeuz">
					<center><img src="img/telecomtv.png"></center>
				</div>
				<div class="shape">
					<p class="country"><span class="glyphicon glyphicon-map-marker"></span>Каракалпакстан</p>
					<p class="country date"><span class="glyphicon glyphicon-calendar"></span>{{ karakalpakistan[0][0]['date'] }}, {{ karakalpakistan[0][0]['day'] }}</p>
				</div>
				<div class="forecast">
					<div class="col-lg-4 bordered">
						<div class="row">
							<div class="col-lg-12">
								<div class="data" style="margin-bottom: 20px;">
									<span>Сегодня</span>
								</div>
							</div>
							<br>
							<div class="col-lg-5">
								<div class="currentInfo">
									<p>Вечером: +{{ karakalpakistan[0][0]['low']}}</p>
									<p>Влажность: {{ karakalpakistan[1]['humidity']}}%</p>
									<p class="sun">
										<img src="img/icon/sunrise.png">{{ karakalpakistan[2]['sunrise'] }}<br>
										<img src="img/icon/sunset.png">{{ karakalpakistan[2]['sunset'] }}
									</p>
								</div>
							</div>
							<div class="col-lg-3">
								<span class="currentTemp">
									+{{ karakalpakistan[0][0]['high']}}
								</span>
							</div>
							<div class="col-lg-3">
								<div class="icon noicon">
									<img id="weathericon" src="img/icon/cloud-snow.png">
								</div>
							</div>
						</div>
					</div>	
					{% for item in karakalpakistan[0][1:5] %}
					<div class="col-lg-2 bordered">
						<div class="data">
							<span>
								{{ item['date'] }}, {{ item['day'] }}
							</span>
						</div>
						<div class="icon"> 
							<img id="weathericon" src="img/icon/suncloud.png">
						</div>
						<div class="temp">
							<span class="hightemp">
								<span class="glyphicon glyphicon-arrow-up"></span> +{{ item['high']}}
							</span>
							<span class="lowtemp">
								<span class="glyphicon glyphicon-arrow-down"></span> +{{ item['low']}}
							</span>
						</div>
					</div>
					{% endfor %}
				</div>
			</aside>
		</div>
		<div class="item">
			<aside class="qashqadaryo">
				<div class="shapeuz">
					<center><img src="img/telecomtv.png"></center>
				</div>
				<div class="shape">
					<p class="country"><span class="glyphicon glyphicon-map-marker"></span>Кашкадарья</p>
					<p class="country date"><span class="glyphicon glyphicon-calendar"></span>{{ qashqadaryo[0][0]['date'] }}, {{ qashqadaryo[0][0]['day'] }}</p>
				</div>
				<div class="forecast">
					<div class="col-lg-4 bordered">
						<div class="row">
							<div class="col-lg-12">
								<div class="data" style="margin-bottom: 20px;">
									<span>Сегодня</span>
								</div>
							</div>
							<br>
							<div class="col-lg-5">
								<div class="currentInfo">
									<p>Вечером: +{{ qashqadaryo[0][0]['low']}}</p>
									<p>Влажность: {{ qashqadaryo[1]['humidity']}}%</p>
									<p class="sun">
										<img src="img/icon/sunrise.png">{{ qashqadaryo[2]['sunrise'] }}<br>
										<img src="img/icon/sunset.png">{{ qashqadaryo[2]['sunset'] }}
									</p>
								</div>
							</div>
							<div class="col-lg-3">
								<span class="currentTemp">
									+{{ qashqadaryo[0][0]['high']}}
								</span>
							</div>
							<div class="col-lg-3">
								<div class="icon noicon">
									<img id="weathericon" src="img/icon/cloud-snow.png">
								</div>
							</div>
						</div>
					</div>	
					{% for item in qashqadaryo[0][1:5] %}
					<div class="col-lg-2 bordered">
						<div class="data">
							<span>
								{{ item['date'] }}, {{ item['day'] }}
							</span>
						</div>
						<div class="icon"> 
							<img id="weathericon" src="img/icon/suncloud.png">
						</div>
						<div class="temp">
							<span class="hightemp">
								<span class="glyphicon glyphicon-arrow-up"></span> +{{ item['high']}}
							</span>
							<span class="lowtemp">
								<span class="glyphicon glyphicon-arrow-down"></span> +{{ item['low']}}
							</span>
						</div>
					</div>
					{% endfor %}
				</div>
			</aside>
		</div>
		<div class="item">
			<aside class="navoi">
				<div class="shapeuz">
					<center><img src="img/telecomtv.png"></center>
				</div>
				<div class="shape">
					<p class="country"><span class="glyphicon glyphicon-map-marker"></span>Навои</p>
					<p class="country date"><span class="glyphicon glyphicon-calendar"></span>{{ navoi[0][0]['date'] }}, {{ navoi[0][0]['day'] }}</p>
				</div>
				<div class="forecast">
					<div class="col-lg-4 bordered">
						<div class="row">
							<div class="col-lg-12">
								<div class="data" style="margin-bottom: 20px;">
									<span>Сегодня</span>
								</div>
							</div>
							<br>
							<div class="col-lg-5">
								<div class="currentInfo">
									<p>Вечером: +{{ navoi[0][0]['low']}}</p>
									<p>Влажность: {{ navoi[1]['humidity']}}%</p>
									<p class="sun">
										<img src="img/icon/sunrise.png">{{ navoi[2]['sunrise'] }}<br>
										<img src="img/icon/sunset.png">{{ navoi[2]['sunset'] }}
									</p>
								</div>
							</div>
							<div class="col-lg-3">
								<span class="currentTemp">
									+{{ navoi[0][0]['high']}}
								</span>
							</div>
							<div class="col-lg-3">
								<div class="icon noicon">
									<img id="weathericon" src="img/icon/cloud-snow.png">
								</div>
							</div>
						</div>
					</div>	
					{% for item in navoi[0][1:5] %}
					<div class="col-lg-2 bordered">
						<div class="data">
							<span>
								{{ item['date'] }}, {{ item['day'] }}
							</span>
						</div>
						<div class="icon"> 
							<img id="weathericon" src="img/icon/suncloud.png">
						</div>
						<div class="temp">
							<span class="hightemp">
								<span class="glyphicon glyphicon-arrow-up"></span> +{{ item['high']}}
							</span>
							<span class="lowtemp">
								<span class="glyphicon glyphicon-arrow-down"></span> +{{ item['low']}}
							</span>
						</div>
					</div>
					{% endfor %}
				</div>
			</aside>
		</div>
		<div class="item">
			<aside class="namangan">
				<div class="shapeuz">
					<center><img src="img/telecomtv.png"></center>
				</div>
				<div class="shape">
					<p class="country"><span class="glyphicon glyphicon-map-marker"></span>Наманган</p>
					<p class="country date"><span class="glyphicon glyphicon-calendar"></span>{{ namangan[0][0]['date'] }}, {{ namangan[0][0]['day'] }}</p>
				</div>
				<div class="forecast">
					<div class="col-lg-4 bordered">
						<div class="row">
							<div class="col-lg-12">
								<div class="data" style="margin-bottom: 20px;">
									<span>Сегодня</span>
								</div>
							</div>
							<br>
							<div class="col-lg-5">
								<div class="currentInfo">
									<p>Вечером: +{{ namangan[0][0]['low']}}</p>
									<p>Влажность: {{ namangan[1]['humidity']}}%</p>
									<p class="sun">
										<img src="img/icon/sunrise.png">{{ namangan[2]['sunrise'] }}<br>
										<img src="img/icon/sunset.png">{{ namangan[2]['sunset'] }}
									</p>
								</div>
							</div>
							<div class="col-lg-3">
								<span class="currentTemp">
									+{{ namangan[0][0]['high']}}
								</span>
							</div>
							<div class="col-lg-3">
								<div class="icon noicon">
									<img id="weathericon" src="img/icon/cloud-snow.png">
								</div>
							</div>
						</div>
					</div>	
					{% for item in namangan[0][1:5] %}
					<div class="col-lg-2 bordered">
						<div class="data">
							<span>
								{{ item['date'] }}, {{ item['day'] }}
							</span>
						</div>
						<div class="icon"> 
							<img id="weathericon" src="img/icon/suncloud.png">
						</div>
						<div class="temp">
							<span class="hightemp">
								<span class="glyphicon glyphicon-arrow-up"></span> +{{ item['high']}}
							</span>
							<span class="lowtemp">
								<span class="glyphicon glyphicon-arrow-down"></span> +{{ item['low']}}
							</span>
						</div>
					</div>
					{% endfor %}
				</div>
			</aside>
		</div>
		<div class="item">
			<aside class="samarqand">
				<div class="shapeuz">
					<center><img src="img/telecomtv.png"></center>
				</div>
				<div class="shape">
					<p class="country"><span class="glyphicon glyphicon-map-marker"></span>Самарканд</p>
					<p class="country date"><span class="glyphicon glyphicon-calendar"></span>{{ samarqand[0][0]['date'] }}, {{ samarqand[0][0]['day'] }}</p>
				</div>
				<div class="forecast">
					<div class="col-lg-4 bordered">
						<div class="row">
							<div class="col-lg-12">
								<div class="data" style="margin-bottom: 20px;">
									<span>Сегодня</span>
								</div>
							</div>
							<br>
							<div class="col-lg-5">
								<div class="currentInfo">
									<p>Вечером: +{{ samarqand[0][0]['low']}}</p>
									<p>Влажность: {{ samarqand[1]['humidity']}}%</p>
									<p class="sun">
										<img src="img/icon/sunrise.png">{{ samarqand[2]['sunrise'] }}<br>
										<img src="img/icon/sunset.png">{{ samarqand[2]['sunset'] }}
									</p>
								</div>
							</div>
							<div class="col-lg-3">
								<span class="currentTemp">
									+{{ samarqand[0][0]['high']}}
								</span>
							</div>
							<div class="col-lg-3">
								<div class="icon noicon">
									<img id="weathericon" src="img/icon/cloud-snow.png">
								</div>
							</div>
						</div>
					</div>	
					{% for item in samarqand[0][1:5] %}
					<div class="col-lg-2 bordered">
						<div class="data">
							<span>
								{{ item['date'] }}, {{ item['day'] }}
							</span>
						</div>
						<div class="icon"> 
							<img id="weathericon" src="img/icon/suncloud.png">
						</div>
						<div class="temp">
							<span class="hightemp">
								<span class="glyphicon glyphicon-arrow-up"></span> +{{ item['high']}}
							</span>
							<span class="lowtemp">
								<span class="glyphicon glyphicon-arrow-down"></span> +{{ item['low']}}
							</span>
						</div>
					</div>
					{% endfor %}
				</div>
			</aside>
		</div>
		<div class="item">
			<aside class="termez">
				<div class="shapeuz">
					<center><img src="img/telecomtv.png"></center>
				</div>
				<div class="shape">
					<p class="country"><span class="glyphicon glyphicon-map-marker"></span>Термез</p>
					<p class="country date"><span class="glyphicon glyphicon-calendar"></span>{{ termez[0][0]['date'] }}, {{ termez[0][0]['day'] }}</p>
				</div>
				<div class="forecast">
					<div class="col-lg-4 bordered">
						<div class="row">
							<div class="col-lg-12">
								<div class="data" style="margin-bottom: 20px;">
									<span>Сегодня</span>
								</div>
							</div>
							<br>
							<div class="col-lg-5">
								<div class="currentInfo">
									<p>Вечером: +{{ termez[0][0]['low']}}</p>
									<p>Влажность: {{ termez[1]['humidity']}}%</p>
									<p class="sun">
										<img src="img/icon/sunrise.png">{{ termez[2]['sunrise'] }}<br>
										<img src="img/icon/sunset.png">{{ termez[2]['sunset'] }}
									</p>
								</div>
							</div>
							<div class="col-lg-3">
								<span class="currentTemp">
									+{{ termez[0][0]['high']}}
								</span>
							</div>
							<div class="col-lg-3">
								<div class="icon noicon">
									<img id="weathericon" src="img/icon/cloud-snow.png">
								</div>
							</div>
						</div>
					</div>	
					{% for item in termez[0][1:5] %}
					<div class="col-lg-2 bordered">
						<div class="data">
							<span>
								{{ item['date'] }}, {{ item['day'] }}
							</span>
						</div>
						<div class="icon"> 
							<img id="weathericon" src="img/icon/suncloud.png">
						</div>
						<div class="temp">
							<span class="hightemp">
								<span class="glyphicon glyphicon-arrow-up"></span> +{{ item['high']}}
							</span>
							<span class="lowtemp">
								<span class="glyphicon glyphicon-arrow-down"></span> +{{ item['low']}}
							</span>
						</div>
					</div>
					{% endfor %}
				</div>
			</aside>
		</div>
		<div class="item">
			<aside class="sirdaryo">
				<div class="shapeuz">
					<center><img src="img/telecomtv.png"></center>
				</div>
				<div class="shape">
					<p class="country"><span class="glyphicon glyphicon-map-marker"></span>Сырдарья</p>
					<p class="country date"><span class="glyphicon glyphicon-calendar"></span>{{ sirdaryo[0][0]['date'] }}, {{ sirdaryo[0][0]['day'] }}</p>
				</div>
				<div class="forecast">
					<div class="col-lg-4 bordered">
						<div class="row">
							<div class="col-lg-12">
								<div class="data" style="margin-bottom: 20px;">
									<span>Сегодня</span>
								</div>
							</div>
							<br>
							<div class="col-lg-5">
								<div class="currentInfo">
									<p>Вечером: +{{ sirdaryo[0][0]['low']}}</p>
									<p>Влажность: {{ sirdaryo[1]['humidity']}}%</p>
									<p class="sun">
										<img src="img/icon/sunrise.png">{{ sirdaryo[2]['sunrise'] }}<br>
										<img src="img/icon/sunset.png">{{ sirdaryo[2]['sunset'] }}
									</p>
								</div>
							</div>
							<div class="col-lg-3">
								<span class="currentTemp">
									+{{ sirdaryo[0][0]['high']}}
								</span>
							</div>
							<div class="col-lg-3">
								<div class="icon noicon">
									<img id="weathericon" src="img/icon/cloud-snow.png">
								</div>
							</div>
						</div>
					</div>	
					{% for item in sirdaryo[0][1:5] %}
					<div class="col-lg-2 bordered">
						<div class="data">
							<span>
								{{ item['date'] }}, {{ item['day'] }}
							</span>
						</div>
						<div class="icon"> 
							<img id="weathericon" src="img/icon/suncloud.png">
						</div>
						<div class="temp">
							<span class="hightemp">
								<span class="glyphicon glyphicon-arrow-up"></span> +{{ item['high']}}
							</span>
							<span class="lowtemp">
								<span class="glyphicon glyphicon-arrow-down"></span> +{{ item['low']}}
							</span>
						</div>
					</div>
					{% endfor %}
				</div>
			</aside>
		</div>
		<div class="item">
			<aside class="tashkentobl">
				<div class="shapeuz">
					<center><img src="img/telecomtv.png"></center>
				</div>
				<div class="shape">
					<p class="country"><span class="glyphicon glyphicon-map-marker"></span>Ташкент обл.</p>
					<p class="country date"><span class="glyphicon glyphicon-calendar"></span>{{ tashkentobl[0][0]['date'] }}, {{ tashkentobl[0][0]['day'] }}</p>
				</div>
				<div class="forecast">
					<div class="col-lg-4 bordered">
						<div class="row">
							<div class="col-lg-12">
								<div class="data" style="margin-bottom: 20px;">
									<span>Сегодня</span>
								</div>
							</div>
							<br>
							<div class="col-lg-5">
								<div class="currentInfo">
									<p>Вечером: +{{ tashkentobl[0][0]['low']}}</p>
									<p>Влажность: {{ tashkentobl[1]['humidity']}}%</p>
									<p class="sun">
										<img src="img/icon/sunrise.png">{{ tashkentobl[2]['sunrise'] }}<br>
										<img src="img/icon/sunset.png">{{ tashkentobl[2]['sunset'] }}
									</p>
								</div>
							</div>
							<div class="col-lg-3">
								<span class="currentTemp">
									+{{ tashkentobl[0][0]['high']}}
								</span>
							</div>
							<div class="col-lg-3">
								<div class="icon noicon">
									<img id="weathericon" src="img/icon/cloud-snow.png">
								</div>
							</div>
						</div>
					</div>	
					{% for item in tashkentobl[0][1:5] %}
					<div class="col-lg-2 bordered">
						<div class="data">
							<span>
								{{ item['date'] }}, {{ item['day'] }}
							</span>
						</div>
						<div class="icon"> 
							<img id="weathericon" src="img/icon/suncloud.png">
						</div>
						<div class="temp">
							<span class="hightemp">
								<span class="glyphicon glyphicon-arrow-up"></span> +{{ item['high']}}
							</span>
							<span class="lowtemp">
								<span class="glyphicon glyphicon-arrow-down"></span> +{{ item['low']}}
							</span>
						</div>
					</div>
					{% endfor %}
				</div>
			</aside>
		</div>
		<div class="item">
			<aside class="fergana">
				<div class="shapeuz">
					<center><img src="img/telecomtv.png"></center>
				</div>
				<div class="shape">
					<p class="country"><span class="glyphicon glyphicon-map-marker"></span>Фергана</p>
					<p class="country date"><span class="glyphicon glyphicon-calendar"></span>{{ fergana[0][0]['date'] }}, {{ fergana[0][0]['day'] }}</p>
				</div>
				<div class="forecast">
					<div class="col-lg-4 bordered">
						<div class="row">
							<div class="col-lg-12">
								<div class="data" style="margin-bottom: 20px;">
									<span>Сегодня</span>
								</div>
							</div>
							<br>
							<div class="col-lg-5">
								<div class="currentInfo">
									<p>Вечером: +{{ fergana[0][0]['low']}}</p>
									<p>Влажность: {{ fergana[1]['humidity']}}%</p>
									<p class="sun">
										<img src="img/icon/sunrise.png">{{ fergana[2]['sunrise'] }}<br>
										<img src="img/icon/sunset.png">{{ fergana[2]['sunset'] }}
									</p>
								</div>
							</div>
							<div class="col-lg-3">
								<span class="currentTemp">
									+{{ fergana[0][0]['high']}}
								</span>
							</div>
							<div class="col-lg-3">
								<div class="icon noicon">
									<img id="weathericon" src="img/icon/cloud-snow.png">
								</div>
							</div>
						</div>
					</div>	
					{% for item in fergana[0][1:5] %}
					<div class="col-lg-2 bordered">
						<div class="data">
							<span>
								{{ item['date'] }}, {{ item['day'] }}
							</span>
						</div>
						<div class="icon"> 
							<img id="weathericon" src="img/icon/suncloud.png">
						</div>
						<div class="temp">
							<span class="hightemp">
								<span class="glyphicon glyphicon-arrow-up"></span> +{{ item['high']}}
							</span>
							<span class="lowtemp">
								<span class="glyphicon glyphicon-arrow-down"></span> +{{ item['low']}}
							</span>
						</div>
					</div>
					{% endfor %}
				</div>
			</aside>
		</div>
		<div class="item">
			<aside class="horezm">
				<div class="shapeuz">
					<center><img src="img/telecomtv.png"></center>
				</div>
				<div class="shape">
					<p class="country"><span class="glyphicon glyphicon-map-marker"></span>Хорезм</p>
					<p class="country date"><span class="glyphicon glyphicon-calendar"></span>{{ horezm[0][0]['date'] }}, {{ horezm[0][0]['day'] }}</p>
				</div>
				<div class="forecast">
					<div class="col-lg-4 bordered">
						<div class="row">
							<div class="col-lg-12">
								<div class="data" style="margin-bottom: 20px;">
									<span>Сегодня</span>
								</div>
							</div>
							<br>
							<div class="col-lg-5">
								<div class="currentInfo">
									<p>Вечером: +{{ horezm[0][0]['low']}}</p>
									<p>Влажность: {{ horezm[1]['humidity']}}%</p>
									<p class="sun">
										<img src="img/icon/sunrise.png">{{ horezm[2]['sunrise'] }}<br>
										<img src="img/icon/sunset.png">{{ horezm[2]['sunset'] }}
									</p>
								</div>
							</div>
							<div class="col-lg-3">
								<span class="currentTemp">
									+{{ horezm[0][0]['high']}}
								</span>
							</div>
							<div class="col-lg-3">
								<div class="icon noicon">
									<img id="weathericon" src="img/icon/cloud-snow.png">
								</div>
							</div>
						</div>
					</div>	
					{% for item in horezm[0][1:5] %}
					<div class="col-lg-2 bordered">
						<div class="data">
							<span>
								{{ item['date'] }}, {{ item['day'] }}
							</span>
						</div>
						<div class="icon"> 
							<img id="weathericon" src="img/icon/suncloud.png">
						</div>
						<div class="temp">
							<span class="hightemp">
								<span class="glyphicon glyphicon-arrow-up"></span> +{{ item['high']}}
							</span>
							<span class="lowtemp">
								<span class="glyphicon glyphicon-arrow-down"></span> +{{ item['low']}}
							</span>
						</div>
					</div>
					{% endfor %}
				</div>
			</aside>
		</div>
		<div class="item">
			<aside class="tashkent">
				<div class="shapeuz">
					<center><img src="img/telecomtv.png"></center>
				</div>
				<div class="shape">
					<p class="country"><span class="glyphicon glyphicon-map-marker"></span>Ташкент</p>
					<p class="country date"><span class="glyphicon glyphicon-calendar"></span>{{ tashkent[0][0]['date'] }}, {{ tashkent[0][0]['day'] }}</p>
				</div>
				<div class="forecast">
					<div class="col-lg-4 bordered">
						<div class="row">
							<div class="col-lg-12">
								<div class="data" style="margin-bottom: 20px;">
									<span>Сегодня</span>
								</div>
							</div>
							<br>
							<div class="col-lg-5">
								<div class="currentInfo">
									<p>Вечером: +{{ tashkent[0][0]['low']}}</p>
									<p>Влажность: {{ tashkent[1]['humidity']}}%</p>
									<p class="sun">
										<img src="img/icon/sunrise.png">{{ tashkent[2]['sunrise'] }}<br>
										<img src="img/icon/sunset.png">{{ tashkent[2]['sunset'] }}
									</p>
								</div>
							</div>
							<div class="col-lg-3">
								<span class="currentTemp">
									+{{ tashkent[0][0]['high']}}
								</span>
							</div>
							<div class="col-lg-3">
								<div class="icon noicon">
									<img id="weathericon" src="img/icon/cloud-snow.png">
								</div>
							</div>
						</div>
					</div>	
					{% for item in tashkent[0][1:5] %}
					<div class="col-lg-2 bordered">
						<div class="data">
							<span>
								{{ item['date'] }}, {{ item['day'] }}
							</span>
						</div>
						<div class="icon"> 
							<img id="weathericon" src="img/icon/suncloud.png">
						</div>
						<div class="temp">
							<span class="hightemp">
								<span class="glyphicon glyphicon-arrow-up"></span> +{{ item['high']}}
							</span>
							<span class="lowtemp">
								<span class="glyphicon glyphicon-arrow-down"></span> +{{ item['low']}}
							</span>
						</div>
					</div>
					{% endfor %}
				</div>
			</aside>
		</div>

	</div>
	
</div>




</body>
<script type="text/javascript" src="js/main.js"></script>

<script type="text/javascript">
	$('.carousel').carousel({
	  interval: 6000,
	  pause: null
	});
</script>

</html>